<div class="row">
  <% @articles.each do |article| %>
    <%#raise article.inspect %>
    <div class="col s12 m7 l12">
      <h6 class="header"><%=article.title%></h6>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://live.staticflickr.com/418/19186785801_ddbb18ffd6_n.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p><%= article.content %></p>
          </div>
          <div class="card-content">
            <div class="chip blue darken-4 white-text">
              <span><%= link_to t('category')%></span> <%= article.category.name %>
            </div>
          </div>
          <div class="card-action">
              <%= link_to t('show_article'), article_path(article.id) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>