<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <%=devise_error_messages!%>

  <div id="login-page" class="row" style="width: 25%;">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <p class="center login-form-text">
              <%= t("view_devise.title_forgot") %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit t("link_devise.reset_password"),  class: "btn waves-effect waves-light col s12" %>
          </div>
        </div>
        <div class="row">
          <%= render "devise/shared/links" %>
        </div>
      </form>
    </div>
  </div>
<% end %>

