<div class="row">
  <div style="
  /* overflow-x: scroll; */
      overflow: auto;
      height: 35rem;
      width: 100%;
  ">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% if message.user_id === current_user %>
          <div class="col s12 m12 user_send">
            <div class="card blue darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= message.user.email %></span>
                <p><%= message.body %></p>
                <% if message.read %>
                  READ
                <% else %>
                  NOT READ

                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col s12 m12 white user_receive">
            <div class="card blue darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= message.user.email %></span>
                <p><%= message.body %></p>
                <% if message.read %>
                  READ
                <% else %>
                  NOT READ

                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= form_for @message, :url => {:action => "create"} do |f| %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Your message" %>
    </div>

    <%= f.submit "Send" %>
  <% end %>

</div>

<%- if @message.user_id != current_user %>
  <style>
    .user_receive {
      width: 30%;
      margin-left: 70%;
    }

    .white {
      background-color: white;
    }

    .user_send {
      width: 30%;
      margin-left: 0%;
    }
  </style>
<% end -%>