<div class="row">
  <div style="
  /* overflow-x: scroll; */
      overflow: auto;
      height: 35rem;
      width: 100%;
  ">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% if message.user_id === current_user.id %>
          <div class="col s12 m12">
            <div class="card blue darken-1 user_send">
              <div class="card-content white-text">
                <span class="card-title"><%= message.user.email %>  -
                  <% if message.read %>
                  <span class="badge green" style="color: black">lu</span>
                <% else %>
                  <span class="badge red" style="color: black">Non lu</span>
                <% end %>
                </span>
                <p><%= message.body %></p>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col s12 m12">
            <div class="card white darken-1 user_receive">
              <div class="card-content white-text">
                <span class="card-title"><%= message.user.email %>  -
                  <% if message.read %>
                  <span class="badge green" style="color: black">lu</span>
                <% else %>
                  <span class="badge red" style="color: black">Non lu</span>
                <% end %>
                </span>
                <p><%= message.body %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= form_for @message, :url => {:action => "create"} do |f| %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Your message" %>
    </div>

    <%= f.submit "Send" %>
  <% end %>

</div>

<style>
  .user_receive {
    width: 30% !important;
    margin-left: 70% !important;
  }

  .white {
    background-color: darkblue !important;
  }

  .user_send {
    width: 30% !important;
    margin-left: 0 !important;
  }

  .card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
    font-size: 10px;
  }
</style>