<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Listing Ocase ++</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li>
        <%= link_to image_tag('/assets/EN.png', width: 20), {:locale => 'en'} %>
    </li>
    <li>
        <%= link_to image_tag('/assets/FR.png', width: 20), {:locale => 'fr'} %>
    </li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <%= link_to t('title'), root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            <%= t('lang') %><i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>
          <%= link_to t('articles_list'), articles_path %>
        </li>
        <li>
          <% if current_user.nil? %>
          <% else %>
            <button class="btn green">
              <%= link_to t('homepage.create_button'), new_article_path %>
            </button>
          <% end %>

        </li>
        <li>
          <% if current_user.nil? %>
            <%= link_to t('login'), new_user_session_path %>
          <% else %>
            <%= link_to t('logout'), destroy_user_session_path, :method => :delete   %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<main>
    <%= yield %>
</main>

<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
        $('select').formSelect();
    });
</script>
</body>
</html>
